.fair-form-question-radio .fair-form-question-label-input {
	border: none;
	border-bottom: 1px dashed #8c8f94;
	background: transparent;
	font-weight: 600;
	padding: 2px 0;
	font-size: inherit;
	width: auto;
}

.fair-form-question-radio .fair-form-question-label-input:focus {
	outline: none;
	border-bottom-color: #2271b1;
}
