/**
 * Time Slot Block Styles
 */
.time-slot-container {
  border: 1px solid color-mix(in srgb, var(--wp--preset--color--contrast) 25%, transparent);
  border-radius: 0;
  box-sizing: border-box;
  padding: 0.5rem;
	height: calc(var(--hour-height) * var(--time-slot-length) * 1rem);
  overflow: hidden;
  position: absolute;
  top: calc(var(--time-slot-offset, 0) * var(--hour-height, 4) * 1rem);
  width: 100%;
}

.time-slot-container .time-annotation {
  position: absolute;
  border-bottom: 1px solid color-mix(in srgb, var(--wp--preset--color--contrast) 50%, transparent);
  border-left: 1px solid color-mix(in srgb, var(--wp--preset--color--contrast) 50%, transparent);
  padding: 8px;
  border-radius: 0 0 0 8px;
  top: 0;
  right: 0;
  font-size: var(--wp--preset--font-size--small);
  margin: 0;
  line-height: 1;
  opacity: 0.8;
}

.time-slot-content .wp-block-heading:first-child {
  margin-top: 0;
  margin-right: 5rem;
}
