services:
    wordpress:
        image: wordpress
        restart: always
        ports:
            - 8080:80
        environment:
            WORDPRESS_DB_HOST: db
            WORDPRESS_DB_USER: exampleuser
            WORDPRESS_DB_PASSWORD: examplepass
            WORDPRESS_DB_NAME: exampledb
        volumes:
            - wordpress:/var/www/html
            - ./fair-calendar-button:/var/www/html/wp-content/plugins/fair-calendar-button
            - ./fair-payment:/var/www/html/wp-content/plugins/fair-payment
            - ./fair-registration:/var/www/html/wp-content/plugins/fair-registration
            - ./fair-schedule-blocks:/var/www/html/wp-content/plugins/fair-schedule-blocks
            - ./fair-timetable:/var/www/html/wp-content/plugins/fair-timetable
            - ./fair-membership:/var/www/html/wp-content/plugins/fair-membership
            - ./fair-events:/var/www/html/wp-content/plugins/fair-events
            - ./fair-rsvp:/var/www/html/wp-content/plugins/fair-rsvp
            - ./fair-user-import:/var/www/html/wp-content/plugins/fair-user-import
            - ./fair-platform:/var/www/html/wp-content/plugins/fair-platform
            - ./fair-team:/var/www/html/wp-content/plugins/fair-team
            - ./fair-audience:/var/www/html/wp-content/plugins/fair-audience

    db:
        image: mysql:8.0
        restart: always
        ports:
            - 3306:3306
        environment:
            MYSQL_DATABASE: exampledb
            MYSQL_USER: exampleuser
            MYSQL_PASSWORD: examplepass
            MYSQL_RANDOM_ROOT_PASSWORD: '1'
        volumes:
            - db:/var/lib/mysql

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        ports:
            - '8081:80'
        environment:
            PMA_HOST: db
            MYSQL_ROOT_PASSWORD: examplepass
        depends_on:
            - db

    wpcli:
        image: wordpress:cli
        command: tail -f /dev/null # Keeps container running
        volumes:
            - wordpress:/var/www/html
            - ./fair-calendar-button:/var/www/html/wp-content/plugins/fair-calendar-button
            - ./fair-payment:/var/www/html/wp-content/plugins/fair-payment
            - ./fair-registration:/var/www/html/wp-content/plugins/fair-registration
            - ./fair-schedule-blocks:/var/www/html/wp-content/plugins/fair-schedule-blocks
            - ./fair-timetable:/var/www/html/wp-content/plugins/fair-timetable
            - ./fair-membership:/var/www/html/wp-content/plugins/fair-membership
            - ./fair-events:/var/www/html/wp-content/plugins/fair-events
            - ./fair-rsvp:/var/www/html/wp-content/plugins/fair-rsvp
            - ./fair-user-import:/var/www/html/wp-content/plugins/fair-user-import
            - ./fair-platform:/var/www/html/wp-content/plugins/fair-platform
            - ./fair-team:/var/www/html/wp-content/plugins/fair-team
            - ./fair-audience:/var/www/html/wp-content/plugins/fair-audience
        environment:
            WORDPRESS_DB_HOST: db
            WORDPRESS_DB_USER: exampleuser
            WORDPRESS_DB_PASSWORD: examplepass
            WORDPRESS_DB_NAME: exampledb
        depends_on:
            - db
            - wordpress

    fair-event-plugins.com:
        image: php:8.2-apache
        ports:
            - '8082:80'
        volumes:
            - ./fair-event-plugins.com:/var/www/html

volumes:
    wordpress:
    db:
