.fair-registration-form-editor .fair-registration-form {
	border: 2px dashed #ccc;
	padding: 20px;
	border-radius: 5px;
}

.fair-registration-form-editor .fair-registration-form-header {
	background: #e3f2fd;
	border: 1px solid #90caf9;
}