/**
 * Time Column Body Block Styles
 */
.time-column-body-container {
  border: 1px solid color-mix(in srgb, var(--wp--preset--color--contrast) 15%, transparent);
  border-radius: 0;
  box-sizing: content-box;
	height: calc(var(--hour-height) * var(--column-length) * 1rem);
  overflow: hidden;
  position: relative;
}
