/**
 * Time Column Block Styles
 */
.time-column-container {
	flex: 1 1 300px;
	min-width: 300px;
}

.time-column-content > .wp-block-heading {
  margin: 0;
  padding: 1em;
}

.time-column-content {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.time-column-body-content {
	align-self: stretch;
}
