<?xml version="1.0"?>
<phpunit
	bootstrap="__tests__/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="fair-user-import">
			<directory suffix="Test.php">./__tests__</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">./src</directory>
		</include>
	</coverage>
</phpunit>
